#jogo{
    flex: 60%;
    display: flex;
    padding-top: 10px;
}


#opcoes{
    padding-top: 10px;
    font-family: Basketball;
    text-shadow: none;
    font-size: 20px;
    margin-top: 60px;
}

#esquerdo #opcoes h3{
    background-color: #fb2e01;
}

#opcoes button{
    margin-top: 15px;
    width: 300px;
    height: 40px;
    background-color: #fb2e01;
    border-radius: 5px;
    border: solid #fb2e01;
    font-weight: bold;
}

#opcoes button:hover{
    filter: brightness(0.9);
    width: 310px;
    height: 50px;
}

#opcoes button:active{
        
}

#retornos{
    flex: 75%;
    color: white;
    font-family: Basketball;
    text-shadow: none;
    font-size: 20px;
}

#retornoListaJogadas{
    width: 400px;
    background-color: black;
    height: 450px;
    border: solid #fb2e01 ;
    border-radius: 10px;
    margin-top: 15px;
}

#direito #retornos #retornoListaJogadas h3{
    background-color: #fb2e01;
}

#jogo #esquerdo{
    flex: 50%;
}

#jogo #direito{
    flex: 50%;
}

#jogo h2{
    font-size: 80px;
}

#jogo h3{
    font-family: Basketball;
    color: black;
    text-shadow: none;
    font-size: 30px;
    font-weight: bold;
    background-color: #6fcb9f;
    margin-right: 100px;
    margin-left: 100px;
    border-radius: 5px;
}

#jogo #menu button{
    width: 320px;
    height: 50px;
    background-color: #6fcb9f;
    border-radius: 5px;
    border: solid #6fcb9f;
    font-weight: bold;
}

#jogo #menu button:hover{
    filter: brightness(0.9);
    width: 330px;
    height: 60px;
}

#jogo .X{
    font-size: 35px;
    text-shadow: -3.5px -2px #fb2e01;
}

#jogo .O{
    font-size: 35px;
    text-shadow: -3.5px -2px #ffe700;
}

#jogo .velha{
    font-size: 35px;
    text-shadow: -3.5px -2px #836FFF;
}

@font-face {
    font-family: Basketball;
    src: url('../fontes/Basketball.otf');
}