#telaTotalJogo{
    width: 100%;
    display: flex;
    flex-direction: column;
}

#jogo{
    flex: 75%;
    display: flex;
    padding-top: 10px;
}

#desafios{
    flex: 25%;
    display: flex;
    height: 200px;
    margin-top: 10px;
}

#opcoes{
    flex: 25%;
    background-color: #836FFF;
    padding-top: 10px;
}

#retornos{
    flex: 75%;
    background-color: black;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: none;
    font-size: 10px;
}

#jogo #esquerdo{
    flex: 50%;
}

#jogo #direito{
    flex: 50%;
}

#jogo h2{
    font-size: 80px;
}

#jogo h3{
    font-family: Basketball;
    color: black;
    text-shadow: none;
    font-size: 30px;
    font-weight: bold;
    background-color: #6fcb9f;
    margin-right: 100px;
    margin-left: 100px;
    border-radius: 5px;
}

#jogo #esquerdo button{
    width: 320px;
    height: 50px;
    background-color: #6fcb9f;
    border-radius: 5px;
    border: solid #6fcb9f;
    font-weight: bold;
}

#jogo #esquerdo button:hover{
    filter: brightness(0.9);
    width: 330px;
    height: 60px;
}

#jogo .X{
    font-size: 35px;
    text-shadow: -3.5px -2px #fb2e01;
}

#jogo .O{
    font-size: 35px;
    text-shadow: -3.5px -2px #ffe700;
}

#jogo .velha{
    font-size: 35px;
    text-shadow: -3.5px -2px #836FFF;
}

@font-face {
    font-family: Basketball;
    src: url('../fontes/Basketball.otf');
}