#telaInicial {
    font-size: 50px;
    padding-top: 100px;
}

#telaInicial button{
    width: 350px;
    height: 70px;
    background-color: #6fcb9f;
    border-radius: 5px;
    border: solid #6fcb9f;
    font-weight: bold;
}

#telaInicial button:hover{
    filter: brightness(0.9);
    width: 370px;
    height: 80px;
}

