body{
    color: black;
    font-family: fonteQuadrinho;
    text-shadow: -3.5px -2px #6fcb9f;  
}

div {
    text-align: center;
}

button{
    font-family: Basketball;
    font-size: 25px;
    color: black;
}

button:active{
    outline: none;
}

@font-face {
    font-family: FonteQuadrinho;
    src: url('../fontes/fonteQuadrinho.otf');
}

@font-face {
    font-family: Basketball;
    src: url('../fontes/Basketball.otf');
}



